# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Environment files
.env

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE / OS specific
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
